@media (min-width:320px) and (max-width:575.99px){

    .navbar-toggler{
        background-color: aliceblue;

    }
    .navbar-collapse .navbar-nav{
        align-items: center;
        row-gap: 20px;
        padding: 20px 0px;
    }
    
    .navbar-collapse{
        background-color: rgba(48, 162, 183, 0.612);
        border-radius: 10px;
        margin-top: 10px;

    }


    .navber .navber-batton{
        text-align: center;
    }
    
    .navbar .nav-contact-btn {
        padding: 10px 37px;
        margin-left: 0px;
        margin-bottom: 20px;
    }
    



    



    

    
    

}