/* ==========================
        common css
============================= */

a{
    text-decoration: none;
}

ul,ol{
    list-style-type: none;
}






/* ==========================
        nabver part start
============================= */
.navbar{
    background-color: #1C1E53;
    padding: 16px 0px;
}


.navbar .navbar-nav{
    column-gap: 32px;
}

.navbar .nav-link{
    color: #BBBBCB;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    padding: 0px !important; 
    
}

.navbar .nav-contact-btn{
    margin-left: 48px;
    padding: 16px 48px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 1px solid white;
    border-radius: 41px;
    color: white;
    transition: 0.4s;


}

.navbar .nav-contact-btn:hover{
    background-color: #FCD980;
    border: 1px solid transparent;
    
    
}

/* ==========================
        nabver part end
============================= */



/* ==========================
        Banner part start
============================= */
.banner{
    background-color: #1C1E53;
    padding: 128px 0px;
}


.banner .left h1{
    color: white;
    font-weight: 600;
    font-size: 54px;
    font-family: "Poppins", sans-serif;

}


.banner .left p{
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: "Poppins", sans-serif;
    padding-top: 24px;
    padding-bottom: 48px;

}


.banner  .banner-btn{
    padding: 16px 56px;
    background-color: #FCD980;
    border-radius: 41px ;
    color: #1B1C2B;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
    border: 1px solid transparent;
    transition: 0.4s;
}


.banner  .banner-btn:hover{
    background-color: transparent;
    border: 1px solid white;
    color: white;
}


/* ==========================
        nabver part end
============================= */
